<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="robots" content="{{ .Site.Params.robots }}">
{{ $css := resources.Get "css/main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>
<body>
  <div class="container">
    <div class="site-header">
      <h1>{{ .Site.Title }}</h1>
      <h2>{{ .Site.Params.subtitle }}</h2>
    </div>

    {{ block "main" . }}{{ end }}

    <footer>
      © {{ now.Format "2006" }} {{ .Site.Title }}
    </footer>
  </div>
</body>
</html>
